<div class="login">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-xl-4 col-xl-offset-4">
            <div class="card">
                <div class="card-block">
                    <h2 class="card-title text-xs-center">SIGN IN</h2>
                    <hr/>
                    <form {{action 'authenticate' on='submit'}}>
                        <div class="form-group pad-top{{if validations.attrs.model.email.messages ' has-error'}}">
                            {{input type='email' value=model.email placeholder="EMAIL" class="form-control"}}
                            {{#if validations.attrs.model.email.messages}}
                                <span class="help-block">{{validations.attrs.model.email.messages}}</span>
                            {{/if}}
                        </div>
                        <div class="form-group{{if validations.attrs.model.password.messages ' has-error'}}">
                            {{input type="password" value=model.password placeholder="PASSWORD" class="form-control"}}
                            {{#if validations.attrs.model.password.messages}}
                                <span class="help-block">{{validations.attrs.model.password.messages}}</span>
                            {{/if}}
                        </div>
                        <div class="form-group pad-top">
                            <button type="submit" class="btn btn-primary btn-block" disabled={{if validations.messages.length 'disabled'}}>{{submitBtnText}}</button>
                        </div>
                        <div class="form-group text-xs-center">
                            <span class="text-muted">OR</span> {{link-to 'CREATE AN ACCOUNT' 'register' class="text-info register-link"}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
