<div class="card">
    <div class="card-block text-xs-center">
        <h4 class="card-title">Best possible picks up to week #{{if (gt system.week 17) '17' system.week}}</h4>
    </div>
    <div class="card-block">
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Week</th>
                    <th>Pick #1</th>
                    <th>Pts</th>
                    <th>Pick #2</th>
                    <th>Pts</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {{#each model as |row|}}
                    {{#if (eq row.week 18)}}
                        <tr class="bg-primary">
                            <td colspan="4">&nbsp;</td>
                            <td class="text-xs-right"><strong>Total:</strong></td>
                            <td class="text-xs-center"><strong>{{row.total}}</strong></td>
                        </tr>
                    {{else}}
                        <tr>
                            <td>{{row.week}}</td>
                            <td>{{display-stat playmaker=row.pick1_playmaker text=row.pick1}}</td>
                            <td class="text-xs-center">{{display-stat playmaker=row.pick1_playmaker text=row.pick1_points}}</td>
                            <td>{{display-stat playmaker=row.pick2_playmaker text=row.pick2}}</td>
                            <td class="text-xs-center">{{display-stat playmaker=row.pick2_playmaker text=row.pick2_points}}</td>
                            <td class="text-xs-center">{{row.total}}</td>
                        </tr>
                    {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
