<div class="team">
    {{team-card team=model.team}}
    <div class="card">
        <div class="card-block">
            <h5 class="text-xs-center">Picks for week {{system.selectedWeek}}</h5>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">Pick #1</div>
                        <div class="card-block text-xs-center">
                            {{#power-select
                                allowClear=true
                                triggerClass='form-control'
                                searchField='name'
                                disabled=model.picks.pick1.disabled
                                placeholder="Select a pick"
                                selected=model.picks.pick1.selected
                                search=(route-action 'filterPicks')
                                searchPlaceholder='Type at least 3 characters to search'
                                onchange=(route-action 'updatePicks' 'pick1') as |pick|}}
                                {{display-status test=pick.available text=pick.text}}
                            {{/power-select}}
                            {{input id="pick1-playmaker" type="checkbox" checked=model.picks.pick1.playmaker disabled=model.picks.pick1.disabled change=(route-action 'updatePlaymaker' 'pick1')}} <label for="pick1-playmaker">Denote as Playmaker</label>
                            {{#if model.picks.pick1.reason}}
                                <div class="text-danger">
                                    {{model.picks.pick1.reason}}
                                </div>
                            {{/if}}
                            {{#if pick1_message}}
                              <div class="alert alert-{{pick1_message_type}}">
                                {{pick1_message}}
                              </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">Pick #2</div>
                        <div class="card-block text-xs-center">
                            {{#power-select
                                allowClear=true
                                triggerClass='form-control'
                                searchField='name'
                                disabled=model.picks.pick2.disabled
                                placeholder="Select a pick"
                                selected=model.picks.pick2.selected
                                search=(route-action 'filterPicks')
                                searchPlaceholder='Type at least 3 characters to search'
                                onchange=(route-action 'updatePicks' 'pick2') as |pick|}}
                                {{display-status test=pick.available text=pick.text}}
                            {{/power-select}}
                            {{input id="pick2-playmaker" type="checkbox" checked=model.picks.pick2.playmaker disabled=model.picks.pick2.disabled change=(route-action 'updatePlaymaker' 'pick2')}} <label for="pick2-playmaker">Denote as Playmaker</label>
                            {{#if model.picks.pick2.reason}}
                                <div class="text-danger">
                                    {{model.picks.pick2.reason}}
                                </div>
                            {{/if}}
                            {{#if pick2_message}}
                              <div class="alert alert-{{pick2_message_type}}">
                                {{pick2_message}}
                              </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">Pick Left</div>
                        <div class="card-block">
                            {{position-picks-left data=model.picks.picks_left}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card teams-picked">
                        <div class="card-header">AFC Teams Left</div>
                        <div class="card-block">
                          <div class="row">
                            {{team-picks-left data=model.picks.teams_picked.afc}}
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card teams-picked">
                        <div class="card-header">NFC Teams Left</div>
                        <div class="card-block">
                          <div class="row">
                            {{team-picks-left data=model.picks.teams_picked.nfc}}
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card nfl-schedule">
        <div class="card-block">
            <div class="row">
                <div class="col-xs-12 col-md-10 offset-md-1">
                    <h4>NFL Schedule for week #{{system.selectedWeek}}</h4>
                </div>
            </div>
            {{#each-in model.picks.schedule as |day data| }}
              <div class="row">
                <div class="col-xs-10 offset-xs-1">
                  <div class="card">
                    <div class="card-header">
                      {{day}}
                    </div>
                    <div class="card-block">
                      {{#each data as |game|}}
                        <div class="row">
                            <div class="col-xs-3 offset-md-1">
                                {{game.away}}
                            </div>
                            <div class="col-xs-2 text-xs-center">
                                <strong>VS</strong>
                            </div>
                            <div class="col-xs-3">
                                {{game.home}}
                            </div>
                            <div class="col-xs-2 text-xs-right">
                                <a target="_new" href="{{game.url}}">Game Link {{fa-icon 'link'}}</a>
                            </div>
                        </div>
                      {{/each}}
                    </div>
                  </div>
                </div>
              </div>
            {{/each-in}}
        </div>
    </div>
</div>
