<div class="row register">
    <div class="col-xs-12 col-sm-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-block">
                <h2 class="card-title text-xs-center">CREATE AN ACCOUNT</h2>
                <hr/>

                <form {{action 'register' on='submit'}}>
                    {{v-input-group model=model name='email' type='email' value=model.email placeholder='Email address'}}

                    <div class="row">
                        <div class="col-xs-12">
                            {{v-input-group model=model name='name' value=model.name placeholder='Owner name'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            {{v-input-group model=model name='password' type='password' value=model.password placeholder='Password'}}
                        </div>
                        <div class="col-xs-6">
                            {{v-input-group model=model name='passwordConfirmation' type='password' value=model.passwordConfirmation placeholder='Confirm password'}}
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <button type="submit" id="register-btn" class="btn btn-primary btn-block" disabled={{v-get model 'isInvalid'}}>Create an Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
