<div class="card">
    <div class="card-block text-xs-center">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="p-b-2">{{team.name}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-xs-center">
              <h2>{{team.points}}</h2>
              <h5><small class="text-muted">POINTS</small></h5>
          </div>
          <div class="col-md-4">
            <h5>
                {{#if team.paid}}
                    <p class="bg-success p-y-1">Paid</p>
                {{else}}
                    <p class="bg-danger p-y-1">Not Paid</p>
                    <small>Click <a href="https://paypal.com" target="_new">here</a> to paypal <span class="text-danger">{{system.paypal}}</span></small>
                {{/if}}
            </h5>
          </div>
          <div class="col-md-4 text-xs-center">
              <h2>{{team.wl}}</h2>
              <h5><small class="text-muted">W/L</small></h5>
          </div>
        </div>
    </div>
    <div class="card-block text-xs-center">
        <div class="btn-group weeks" role="group" aria-label="weeks">
            <h6>Current week is {{system.week}}</h6>
            {{#each (range 1 17 true) as |week|}}
                <button class="btn btn-secondary{{if (eq week system.selectedWeek) ' active'}}{{if (lt week system.week) ' past'}}" {{action 'changeWeek' week}}>{{week}}</button>
            {{/each}}
        </div>
    </div>
</div>
