<nav class="navbar navbar-light">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
    </button>
    {{link-to 'Pickems' 'index' class="navbar-brand"}}
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <ul class="nav navbar-nav">
            {{#if session.isAuthenticated}}
                <li class="nav-item">
                    {{link-to 'Storylines' 'storylines' class='nav-link'}}
                </li>
                <li class="nav-item">
                    {{link-to 'Teams' 'teams' class='nav-link'}}
                </li>
                <li class="nav-item">
                    {{link-to 'Stats' 'stats.rankings' class='nav-link'}}
                </li>
            {{else}}
                <li class="nav-item">
                    {{link-to 'Rules' 'rules' class='nav-link'}}
                </li>
                <li class="nav-item">
                    {{link-to 'Contact' 'contact' class='nav-link'}}
                </li>
            {{/if}}
        </ul>
        <ul class="nav navbar-nav float-xs-right">
            {{#if session.isAuthenticated}}
                <li class="nav-item">
                    {{link-to 'Rules' 'rules' class='nav-link'}}
                </li>
                <li class="nav-item">
                    {{link-to 'Contact' 'contact' class='nav-link'}}
                </li>
                {{#if (eq session.currentRole 'admin')}}
                    <li class="nav-item dropdown open">
                        <a class="nav-link dropdown-toggle" {{action (toggle 'showAdminMenu' system)}}>Admin</a>

                        {{#if system.showAdminMenu}}
                          <div class="dropdown-menu dropdown-menu-right">
                              {{link-to 'Paid Status' 'admin.status' 'unpaid' class="dropdown-item"}}
                          </div>
                        {{/if}}
                    </li>
                {{/if}}
                <li class="nav-item">
                    <a class="nav-link" href="#" {{action 'logout'}}>Logout</a>
                </li>
            {{else}}
                <li class="nav-item">
                    {{link-to 'Login' 'login' class='nav-link'}}
                </li>
                <li class="nav-item">
                    {{link-to 'Register' 'register' class='nav-link'}}
                </li>
            {{/if}}
        </ul>
    </div>
</nav>
